# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [12]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [13]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [14]:
series = pd.Series(lst)

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [15]:
third_value = series[2]  
print(third_value)

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [16]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [17]:
df = pd.DataFrame(b)

### 5. Rename the data frame columns based on the names in the list below.

In [18]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [19]:
column_names = ['Ensemble_1', 'Ensemble_2', 'Ensemble_3', 'Ensemble_4', 'Ensemble_5']
df.columns = column_names

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [20]:
subset = df[['Ensemble_1', 'Ensemble_3', 'Ensemble_5']]

### 7. From the original data frame, calculate the average Score_3 value.

In [21]:
average_score_3 = df['Ensemble_3'].mean()
print(average_score_3)

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [22]:
max_score_4 = df['Ensemble_4'].max()
print(max_score_4)

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [23]:
median_score_2 = df['Ensemble_2'].median()
print(median_score_2)

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [24]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [34]:
orders_df = pd.DataFrame(orders)

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [35]:
total_quantity = orders_df['Quantity'].sum()
total_revenue = orders_df['Revenue'].sum()
print(f"Total Quantity: {total_quantity}, Total Revenue: {total_revenue}")

Total Quantity: 2978, Total Revenue: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [36]:
max_price = orders_df['UnitPrice'].max()
min_price = orders_df['UnitPrice'].min()
price_difference = max_price - min_price
print(f"Price Difference: {price_difference}")

Price Difference: 11.77

## Let's load another dataset for more exercisesÂº

In [37]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [38]:
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [39]:
print(admissions.isnull().sum())

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [40]:
admissions.set_index('Serial No.', drop=False, inplace=True)
print(admissions.head())

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
1                    1        337          118                  4  4.5   4.5
2                    2        316          104                  3  3.0   3.5
3                    3        322          110                  3  3.5   2.5
4                    4        314          103                  2  2.0   3.0
5                    5        330          115                  5  4.5   3.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1              0.92
2           8.00         1              0.72
3           8.67         1              0.80
4           8.21         0              0.65
5           9.34         1              0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [43]:
high_cgpa_research = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

print(f"Number of students with CGPA > 9 and research experience: {len(high_cgpa_research)}")

Number of students with CGPA > 9 and research experience: 101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [46]:
filtered_applicants = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

mean_chance = filtered_applicants['Chance of Admit '].mean()  
print(f"Mean chance of admit for applicants with CGPA > 9 and SOP < 3.5: {mean_chance}")

Mean chance of admit for applicants with CGPA > 9 and SOP < 3.5: 0.8019999999999999